<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @therapy_budget.price %>
</p>

<%= link_to 'Edit', edit_therapy_budget_path(@therapy_budget) %> |
<%= link_to 'Back', therapy_budgets_path %>
