<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @therapy_reason.name %>
</p>

<%= link_to 'Edit', edit_therapy_reason_path(@therapy_reason) %> |
<%= link_to 'Back', therapy_reasons_path %>
