<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @therapy_format.name %>
</p>

<%= link_to 'Edit', edit_therapy_format_path(@therapy_format) %> |
<%= link_to 'Back', therapy_formats_path %>
