<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @therapy_integration.name %>
</p>

<%= link_to 'Edit', edit_therapy_integration_path(@therapy_integration) %> |
<%= link_to 'Back', therapy_integrations_path %>
